<div class = "controller">
<h1> Your list of restaurants </h1>
<ul>
<% @restaurants.each do |restaurant| %>
  <h2> <li> <%= link_to restaurant.name, restaurant %> </h2>
  <%= restaurant.category %> </li>
<% end %>
</ul>
</div>

<h1> <%= link_to "Create a new restaurant", new_restaurant_path %></h1>
